.layout-admin-container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "sidebar container container"
    "sidebar container container";
    grid-template-columns: 1fr 3fr;

    > .container {
        grid-area: container;
        padding: 1rem;
        width: 100%;
    }
}
